SECRET_KEY=b4eefb3f938d9585921cb564a2159de3048b85a484480fce8889f968666df695

# postgres
DATABASE_URL=postgresql+psycopg2://chama:postgres@postgres:5432
POSTGRES_SERVER=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=password
POSTGRES_DB=chama

# PgAdmin
PGADMIN_LISTEN_PORT=5050
PGADMIN_DEFAULT_EMAIL=admin@chama.com
PGADMIN_DEFAULT_PASSWORD=chama-password

# app
FIRST_SUPERUSER=admin@chama.com
FIRST_SUPERUSER_PASSWORD=chama-password
LOG_LEVEL=DEBUG
PYTHONUNBUFFERED=0